<root>
  <account_id updated="yes">dkrolikowski6</account_id>
  <stash_name>d</stash_name>
  <league>Delve</league>
  <stash_type>Quad</stash_type>
  <session_id />
  <multiple_query>false</multiple_query>
  <data_file>data.xml</data_file>
  <t1_color>true</t1_color>
  <t2_color>true</t2_color>
  <t3_color>true</t3_color>
  <t4_color>true</t4_color>
  <t5_color>true</t5_color>
</root>