altgraph==0.17
certifi==2020.*
chardet==3.*
future==0.18.*
idna==2.*
packaging==20.*
pefile==2019.*
PyInstaller==3.*
pyparsing==2.*
pypiwin32==22*
PyQt5==5.*
PyQt5-sip==12.*
PyQt5-stubs==5.*
pywin32==22*
pywin32-ctypes==0.*
requests==2.*
shiboken2==5.*
sip==5.*
six==1.*
urllib3==1.*
